
body{
	height: auto !important;
}
.control-label{
	font-size: 12px;
	line-height: 34px;
	display: block;
	text-align: right;
	font-weight: 500;
	margin-bottom: 0;
}
#newDefect .modal-body{
	padding-top: 30px;
}
#editDefect .modal-body{
	padding-top: 30px;
}
.font_right {
	line-height:30px;
}
#newDefect .rowdiv{
	margin-bottom: 15px;
}
#sp{
	color:red;
}
.modal {
	height: auto !important;
}
.select-label {
	font-size: 12px;
	line-height: 34px;
	display: block;
	font-weight: 500;
	margin-bottom: 0;
}
.fileTb{
	width: 600px;
}
.fileTb img{
	padding-bottom: 1px;
	width: 16px;
	height: 20px;
}
#edit_submitDefect{
	display: none;
}
#edit_stagDefect{
	display: none;
}
[class^="classColor"]{
	border-radius: 4px;
	margin-right: 6px;
	padding: 2px 5px;
	color: white;
}
.classColor1{
	background: #33CC99;
}
.classColor2{
	background: #3399FF;
}
.classColor3{
	background: #FF9933;
}
.classColor4{
	background: #FF6699;
}
.classColor5{
	background: #FF0000;
}

#rejectDiv .rowdiv{
	margin-bottom: 10px;
	margin-right: 20px;

}
#rejectDiv textarea{
	height: 133px;
}
[class^="solutionSituation"]{
	line-height: 30px;
	padding: 6px 30px;
	border-radius: 15px;
	color: white;
}
.solutionSituation1{
	background: #33CC99;
}
.solutionSituation2{
	background: #FF9933;
}
[class^="rejectionSituation"]{
	line-height: 30px;
	padding: 6px 30px;
	border-radius: 15px;
	color: white;
}
.rejectionSituation1{
	background: #33CC99;
}
.rejectionSituation2{
	background: #FF9933;
}
.rejectionSituation3{
	background: #FF3E3E;
}
[class^="defectStatus"]{
	line-height: 28px;
	padding: 6px 14px;
	border-radius: 14px;
	color: white;
}
.defectStatus1{
	background: #108EE9;
}
.defectStatus2{
	background: #FF6666;
}
.defectStatus3{
	background: #33CC99;
}
.defectDescribe{
	margin-top: 10px;
}
.defectDescribe span{
	word-wrap:break-word;
}
.allInfo .def_content{
	border-top: 1px solid #D9D9D9;
	background: white;
	padding: 10px 0;
	border-radius: 0 0 4px 4px;
}
#checkDefectDiv .rowdiv{
	margin: 0;
}
#checkDefectDiv [class*="def_col_"]{
	line-height: 32px;
	padding: 0;
}
#checkDefectDiv .modal-body{
	padding: 8px;
} 
.attachmentFont{
	margin-bottom: 10px;
	word-wrap:break-word;
}
.defectDescribe .file-upload-list{
	display: none;
} 
.rejection {
	display: none;
}
.transmit{
	display: none;
}
.solution{
	display: none;
}
.solutionStatu {
	display: none;
}
#closeDefect{
	display: none;
}
#opt_submitDefect{
	display: none;
}
#opt_submitAgainDefect{
	display: none;
}
#opt_RejectDefect{
	display: none;
}
#opt_Restored{
	display: none;
}
.opt_rejectionDiv{
	display: none;
}
#edit_Restored{
	display: none;
}
#edit_RejectDefect{
	display: none;
}
#edit_submitAgainDefect{
	display: none;
}
#edit_submitDefect{
	display: none;
}
#edit_closeDefect {
	display: none;
}
#edit_submit{
	display: none;
}
 
#check_rejectReason_span {
	display: none;
}
#check_solveStatus_span {
	display: none;
}
.spanDefectStatus {
	color: white;
}
.file-upload-tb a{
	color: #428bca;
}

body [id*="downBtn"]{
	background-color: rgb(225,234,247);
	position: absolute;
	width: 38px;
	height: 12px;
	bottom: -10px;
	left: 50%;
	margin-left: -19px;
	border: 1px solid #ccc;
	border-top: none;
}
body [id*="downBtn"] .fa{
	left: 50%;
	position: absolute;
	top: -4px;
	margin-left: -4px;
}
.file-upload-list .bootstrap-table *{
	border: none;
}
#check_table >tbody>tr>td{
	border:0px;
}
#edit_newFileTable >tbody>tr>td{
	border:0px;
}
.span_a_style {
	cursor:pointer;
}
#newDefect .form-group,#editDefect .form-group{
	margin: 0;
}
.modal-footer{
	padding: 9px 20px 10px !important;
	margin-top: 0 !important;
	text-align: center;
}
.a_style{
	text-decoration: none;
	color: #0e90d2;
}
.opt_DelayRepair {
	display:none;
}
.redStar{
	color:red;
}
#userModal{
	z-index: 1050;
}
.file-url{
	display:none;
}
.file-bucket{
	display:none;
}
.file-s3Key{
	display:none;
}
#dealLogDiv{
	display: none;
}
#dealLogDiv .file-upload-tb>tbody>tr>td:first-child {
	width: 70px;
}
.defectDescribe .file-upload-tb>tbody>tr>td:first-child {
	width: 70px;
}
#btn_re{
	background-color:#FF3E3E
}
#check_dev_task {
	display:none;
}
#reqSource {
	display:none;
}
.def_content {
	padding:0 30px;
}
.def_content {
	padding: 0 20px 10px 50px;
}
.def_content {
	padding-bottom: 8px;
}
.def_content .form-group {
	text-align: left;
}

.def_content .control-label {
	display: inline-block;
	line-height: 28px;
}
.def_title {
	padding:10px 0 8px; 
}

.def_title .fa {
	font-size: 18px;
	position: absolute;
	right: 20px;
	top: 8px;
}
.allInfo {
	width: auto; 
	border-radius: 4px;
	margin: 0 0 15px;
	background-color: #FFF;
}
.connect_div>div{
	margin-bottom: 15px;
}

.modal_titleFont{
	padding: 8px 0;
}
.workRemarks{
	margin-bottom: 10px;
}
#tyaskRemark,.new_workRomarksBtn{
	margin-bottom: 10px;
}
.new_workRomarksBtn{
	text-align: center;
}
.def_changeTit{
	font-weight: 500;
}

.titStyle{
	font-size: 13px;
	font-weight: bold;
	padding: 8px 0;
}
.fontWeihgt {
	position: relative;
	font-weight: bold;
}
.font_left {
	text-align: left;
}
#checkAttTable> tbody > tr > td:first-child{
	width: 90%;
	height: 30px;
	padding-left: 30px;
}
#selectdetail .allInfo .def_content{
	border-top: 0px solid #D9D9D9;
	background-color: #F4F4FB;
	padding: 10px 0;
	border-radius: 0 0 4px 4px;
}

/*------------寮�鍙戜换鍔�----------------*/
#checkDevTask .allInfo .def_content{
	border-top: 0px solid #D9D9D9;
	background-color: #F4F4FB;
	padding: 10px 0;
	border-radius: 0 0 4px 4px;
	padding: 0 20px 10px 50px;
}

#checkDevTask  .def_content .form-group {
	text-align: left;
}

#checkDevTask .def_content .control-label {
	display: inline-block;
	line-height: 28px;
}

#checkDevTask .def_content {
	padding-bottom: 8px;
}

#checkDevTask .def_title {
	padding: 10px 20px 10px;
	position: relative;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
}

#checkDevTask .def_title .fa {
	font-size: 18px;
	position: absolute;
	right: 20px;
	top: 8px;
}
.connect_div>div{
	margin-bottom: 15px;
}
.connect_div>div>div{
	margin-bottom: 4px;
}
#selectdetail .dealLog{
	display: none;
}
#checkDevTask .dealLog{
	display: none;
}
/* ztt */
.selectBox {
	position: absolute;
	left: 0;
	top: 33px;
	z-index: 10;
	width: 100%;
	border: 1px solid #ccc;
	overflow: auto;
	display: none;
	background: #fff;
	border-radius: 4px;
}

.selectBox .selectUl {
	width: 100%;
	margin-bottom: 0;
}

.selectBox .selectUl .selectItem {

	height: 26px;
	width: 100%;
	line-height: 26px;
	overflow: hidden;
	padding: 0 5px;
	cursor: pointer;
	text-align: left;
}
.span_font-weight{
	font-weight: bold
}
#dev_defectBaseInfo .rowdiv [class*="def_col_"]{
	line-height: 30px;
}
#new_WorkTaskForm .def_content{
	padding-right: 20px;
}
#rejectDivForm .font_right {
	line-height: 30px;
}
.fontweignt2{
	font-weight:500;
}
#canEditField,#devCanEditField{
	border: 1px solid #EFEFEF;
	border-left: none;
	border-right: none;
	margin: 5px 0 15px!important;
}
.modal-body .down_content{
	padding: 5px 50px !important;
}
#canEditField>[class*="def_col_"],#devCanEditField>[class*="def_col_"]{
	height: 32px;
}

.defectBody { 
    display: flex;
    flex-direction: row; 
}
.defectInfos { 
    padding-right: 8px !important;
}
.defectBody .allInfo{
	padding: 0 20px;
	border: none;
}
.logDiv_title{
	line-height: 16px;
}
#checkAttTable2>tbody>tr>td:first-child{
	width: 80%;
}
#checkAttTable2 .fileTb,#defectRemarks .fileTb,#check_table .fileTb{
	width: auto;
}
#checkAttTable2{
	width: 100% !important;
}

.bor_shadow_none{
	border: none !important;
    box-shadow: none !important;
}
#devCheckStatus_body{
	display: flex;
    align-items: center;
}

#works {
    margin-bottom: 10px;
}
.canEdit {
    margin-top: 10px;
    padding-top: 30px;
    border: 2px solid #108EE9;
    position: relative;
}
.onedatas {
    padding:10px 15px 10px 15px;
}
.del_icon {
    position: absolute;
    top: 0px;
    right: 5px;
    line-right: 20px;
    font-size: 20px;
}

#search_div {
	padding-bottom: 8px;
}

.collection {
    position: static;
    display: inline-block;
    padding-right: 50px;
    padding-left: 20px;
}

.search_btn .bootstrap-select{ 
		width: auto !important;
		}
.search_btn .bootstrap-select .btn{
	width: 100%;
}








