<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>缺陷等级报表</title>
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrapValidator.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/jqGridDefined.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/jquery.editable-select.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/component.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/daterangepicker-bs3.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/common/common.css" />
<link rel="stylesheet"
	href="#springUrl('')/testManageui/static/css/testReport/testReport.css" />


<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/clipboard/clipboard.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/moment.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/jquery.ba-resize.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/defaults-zh_CN.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
	src="#springUrl('')/testManageui/static/js/frame/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/jqgrid/js/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/jqgrid/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/jqgrid/js/jquery.jqGrid.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/frame/layer.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/frame/laydate.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/component.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/common.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/common/common.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/testManageui/static/js/testReport/sample/defectLevelReportSample.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/daterangepicker.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/echarts.min.js"></script>
<script>
	$.jgrid.defaults.responsive = true;
	$.jgrid.defaults.styleUI = 'Bootstrap4';
	$.jgrid.defaults.iconSet = "fontAwesome";
	var ctxStatic = "${ctxStatic}";

	var time = "$time";
</script>
</head>
<body>
	<div class="main-content">
		<center>
			<div id="main" style="width: 1000px; height: 450px;"></div>
		</center>
		<div class="content-table">
			<div class="row tableTitle">缺陷等级分布</div>
			<table id="defectLevelTable"></table>
		</div>
	</div>
</body>
</html>