<!DOCTYPE html>
<html lang="zh-CN">
	<head> 
	<title>系统层级维护</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="no-cache,IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrapValidator.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css" /> 
	</head>
	<body>
    	<div class="color1">
	        <div class="container-fluid" id="">
	            <div class="rowdiv control-row">
	                <div class="col-md-2">
	                </div>
	                <div class="col-md-4">
	                    <div class="search_font"><label class="control-label">子系统名称：</label></div>
	                    <div class="search_input" style="position: relative;">
	                        <input type="text" class="form-control" placeholder="请输入" id="systemName" name="systemName" value="">
	                    </div>
	                </div>
	                <div class="col-md-4">
	                    <div class="search_font"><label class="control-label">子系统编码：</label></div>
	                    <div class="search_input" style="position: relative;">
	                        <input type="text" class="form-control" placeholder="请输入" id="systemCode" name="systemCode" value="">
	                    </div>
	                </div>
	                <div class="col-md-2">
	
	                </div>
	            </div>
	            <div class="rowdiv control-row search_btn">
	                <button type="button" class="btn btn-primary" id="systemSearch">搜&nbsp;&nbsp;&nbsp;索</button>
	                <button type="button" onclick="clearSearchSys()" class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>
	            </div>
	        </div>
	        <div id="downBtn" class="downBtn">
	            <span class="fa fa-caret-up"></span>
	        </div>
	    </div>
	    <br />
	    <div class="content-table">
	        <div class="wode">
	            <table id="systemTable"></table>
	        </div>
	    </div>
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script> 
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/defaults-zh_CN.min.js"></script>
	    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>  
	    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/frame/layer.js"></script> 
	    <script type="text/ecmascript" src="#springUrl('')/projectManageui/static/js/assetsLibrary/chooseSystem.js"></script>
    </body> 
</html>