<!DOCTYPE html>
<html lang="zh-CN">
	<head> 
	<title>新建类资产库文档权限</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="no-cache,IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrapValidator.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css" />  
	<link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css" />

    <link rel="stylesheet" href="#springUrl('')/projectManageui/static/css/docPermission/docPermission.css" />
	<style>
		ul,li{
			list-style-type: none;
		}
        /* 加载框 */
        #loading{
            width: 100%;
            height: 100%;
            background-color:rgba(0,0,0,.5);
            position: fixed;
            top:0;
            left:0;
            z-index: 1050;
            display: none;
        }
        .loadingImg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .modal-footer{
            text-align: center;
        }
        .modal-footer button{
            width: 90px;
        }
        .modal-footer .btn{
            padding: 0px 0px;
        }
        #tree_table {
	      margin: 0 auto;
	      border-radius: 5px;
	    }
	    #tree_table .tree_arrows{
	      width:0px;
	      height:0px;
	      border:5px solid transparent;
	      cursor: pointer;
	    }
	    #tree_table .tree_arrows_right {
	        border-left:5px solid #597cd3;
	    }
	    #tree_table .tree_arrows_bottom{
	        border-top:5px solid #597cd3;
	    }
	    #tree_table .tree_menu_order{
	      border-radius: 4px !important;
	    }
	    #tree_table tbody>tr>td:first-child {
	      border-right: none;
	      border-left: none;
	      border-bottom: none;
	    }
	    #tree_table ._flex_c{
	      display: flex;
	      align-items: center;
	      border-bottom: none;
	    }
	    #tree_table ._hide{
	      display: none;
	    }
	    #tree_table .p_l_5{
	      padding-left: 5px !important;
	    }
	    #tree_table .p_l_10{
	      padding-left: 10px !important;
	    }
	    #tree_table .p_l_30{
	      padding-left: 30px !important;
	    }
	    #tree_table .p_l_60{
	      padding-left: 60px !important;
	    }
    </style>
</head>	
<body>
	<input type="hidden" id="project_Id" value="$!projectId" />
    
	<div class="layout">
        <div class="" style="padding-top: 10px;">
            <p class="titleFont font_center">关联角色</p>
            <div class="left-box"></div>
        </div>
        <div class="main-container">
            <div class="top-container">
				<div class="MenuManagementAuthority">
                    <p class="titleFont">文档目录权限</p>
                    <div id="tbDiv">
                        <table id="tree_table" class="table table-bordered">
						    <thead>
						      <tr>
						        <td class="center">文档名称</td>
						        <td class="center">权限</td>
						      </tr>
						    </thead>
						    <tbody></tbody>
						</table>
                    </div>
                </div>

                <div class="AssociatedPersonnel">
                    <p class="titleFont">关联人员</p>
                    <div class="btnGroupDiv">
                        <button type="button" class="btn btn-primary" onclick="userModel()">关联人员</button>
                        <button type="button" class="btn btn-default" onclick="disassociate()">取消关联</button>
                    </div>
                    <div id="tbDiv2">
                        <table id="tb2"></table>
                    </div>
                </div>
            </div>
            <div class="bottom-container">
                <button type="button" class="btn btn-primary" onclick="updateRoleBtn()">确&nbsp;&nbsp;&nbsp;定</button>
                <button type="button" class="btn btn-default" onclick="resetRoleBtn()">取&nbsp;&nbsp;&nbsp;消</button>
                <button type="button" id="updateRoleBut" class="btn btn-default" onclick="updateRole()">置为无效</button>
            </div>
        </div>
    </div>

    #*添加角色弹框*#
    <div class="modal fade bs-example-modal-lg" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="newPerson">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span>新建一个角色</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="roleForm">
	                    <div class="form-group">
	                        <label class="col-md-3 control-label"><span>*</span>角色名称：</label>
	                        <div class="col-sm-7">
	                            <input type="text" class="form-control" placeholder="请添加角色名称" id="roleName" name="roleName"/>
	                        </div>
	                    </div>
	                </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="insertRole()">确&nbsp;&nbsp;&nbsp;定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取&nbsp;&nbsp;&nbsp;消</button>
                </div>
            </div>
        </div>
    </div>

    #*关联人员弹框*#
    <div class="modal fade bs-example-modal-lg" id="userModal" tabindex="-1" role="dialog" aria-labelledby="newPerson">
        <div class="modal-dialog modal-lg modal-user" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span>选择未关联的人员</span>
                </div>
                <div class="modal-body">
                    <div class="color1">
                        <div class="container-fluid" id="search_div">
                            <div class="row control-row">
                                <div class="col-md-3">
                                    <div class="search_font"><label class="control-label">姓名：</label></div>
                                    <div class="search_input">
                                        <input type="text" class="form-control " placeholder="请输入" id="userName" name="userName" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="search_font"><label class="control-label">工号：</label></div>
                                    <div class="search_input">
                                        <input type="text" class="form-control" placeholder="请输入" id="employeeNumber" name="employeeNumber" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="search_font"><label class="control-label">部门：</label></div>
                                    <div class="search_input">
                                        <input type="text" class="form-control" placeholder="请输入" id="deptName" name="deptName" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="search_font"><label class="control-label">公司：</label></div>
                                    <div class="search_input">
                                        <input type="text" class="form-control" placeholder="请输入" id="companyName" name="companyName" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row control-row search_btn">
                                <button type="button" class="btn btn-primary" onclick="findUserWithNoRole()">搜&nbsp;&nbsp;&nbsp;索</button>
                                <button type="button" onclick="clearSearch()" class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>
                            </div>

                        </div>
                        <div id="downBtn">
                            <span class="fa fa-caret-up"></span>
                        </div>
                    </div>
                    <br>   
                    <div class="content-table">
                        <div class="wode">
                            <table id="userTable"></table>
                            <div id="userPage"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="insertRoleUser()">添&nbsp;&nbsp;&nbsp;加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取&nbsp;&nbsp;&nbsp;消</button>
                </div>
            </div>
        </div>
    </div>

	<div id="loading">
	    <img class="loadingImg" src="#springUrl('')/systemui/static/images/loadingPic.gif" />
	</div>
</body> 
	<script src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script>
    <script src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
    <script src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>
    <script src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
    <script src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/frame/layer.js"></script>
    <script src="#springUrl('')/systemui/static/js/frame/component.js"></script>
    <script src="#springUrl('')/systemui/static/js/common/common.js"></script>
    
    <script src="#springUrl('')/projectManageui/static/js/docPermission/jquery.treeTable.js"></script>
    <script src="#springUrl('')/projectManageui/static/js/docPermission/docPermission.js"></script>

</html>