<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pioneeruniverse.system.dao.mybatis.messagequeue.MessageQueueDao">
  <resultMap id="BaseResultMap" type="cn.pioneeruniverse.system.entity.TblMessageQueue">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MESSAGE_TITLE" jdbcType="VARCHAR" property="messageTitle" />
    <result column="MESSAGE_CONTENT" jdbcType="VARCHAR" property="messageContent" />
    <result column="MESSAGE_RECEIVER" jdbcType="VARCHAR" property="messageReceiver" />
    <result column="SEND_METHOD" jdbcType="TINYINT" property="sendMethod" />
    <result column="SEND_COUNT" jdbcType="TINYINT" property="sendCount" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_RECEIVER, SEND_METHOD, SEND_COUNT, STATUS, 
    CREATE_BY, CREATE_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE
  </sql>
  
<!--   根据ID查询消息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_message_queue
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
<!--   根据ID删除消息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_message_queue
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
<!--   根据ID插入消息 -->
  <insert id="insert" parameterType="cn.pioneeruniverse.system.entity.TblMessageQueue">
    insert into tbl_message_queue (MESSAGE_TITLE, MESSAGE_CONTENT, 
      MESSAGE_RECEIVER, SEND_METHOD, SEND_COUNT, 
      STATUS, CREATE_BY, CREATE_DATE, 
      LAST_UPDATE_BY, LAST_UPDATE_DATE)
    values (#{messageTitle,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR}, 
      #{messageReceiver,jdbcType=VARCHAR}, #{sendMethod,jdbcType=TINYINT}, #{sendCount,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  
<!--   根据选择信息插入消息 -->
  <insert id="insertSelective" parameterType="cn.pioneeruniverse.system.entity.TblMessageQueue">
    insert into tbl_message_queue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="messageTitle != null">
        MESSAGE_TITLE,
      </if>
      <if test="messageContent != null">
        MESSAGE_CONTENT,
      </if>
      <if test="messageReceiver != null">
        MESSAGE_RECEIVER,
      </if>
      <if test="sendMethod != null">
        SEND_METHOD,
      </if>
      <if test="sendCount != null">
        SEND_COUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="messageTitle != null">
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null">
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageReceiver != null">
        #{messageReceiver,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        #{sendMethod,jdbcType=TINYINT},
      </if>
      <if test="sendCount != null">
        #{sendCount,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
<!--   根据选择信息更新消息 -->
  <update id="updateByPrimaryKeySelective" parameterType="cn.pioneeruniverse.system.entity.TblMessageQueue">
    update tbl_message_queue
    <set>
      <if test="messageTitle != null">
        MESSAGE_TITLE = #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null">
        MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageReceiver != null">
        MESSAGE_RECEIVER = #{messageReceiver,jdbcType=VARCHAR},
      </if>
      <if test="sendMethod != null">
        SEND_METHOD = #{sendMethod,jdbcType=TINYINT},
      </if>
      <if test="sendCount != null">
        SEND_COUNT = #{sendCount,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
<!--   删除消息 -->
  <update id="updateByPrimaryKey" parameterType="cn.pioneeruniverse.system.entity.TblMessageQueue">
    update tbl_message_queue
    set MESSAGE_TITLE = #{messageTitle,jdbcType=VARCHAR},
      MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
      MESSAGE_RECEIVER = #{messageReceiver,jdbcType=VARCHAR},
      SEND_METHOD = #{sendMethod,jdbcType=TINYINT},
      SEND_COUNT = #{sendCount,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=TINYINT},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>