<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pioneeruniverse.project.dao.mybatis.RequirementFeatureTimeTraceMapper">

  <!--增加时间追踪表数据-->
  <insert id="insertFeatureTimeTrace" parameterType="cn.pioneeruniverse.project.entity.TblRequirementFeatureTimeTrace">
    insert into tbl_requirement_feature_time_trace (REQUIREMENT_FEATURE_ID,REQUIREMENT_FEATURE_CREATE_TIME,
      STATUS, CREATE_BY, CREATE_DATE,LAST_UPDATE_BY, LAST_UPDATE_DATE)
    values (#{requirementFeatureId,jdbcType=BIGINT}, #{requirementFeatureCreateTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=TINYINT}, #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>

</mapper>