<!DOCTYPE html>
<html lang="zh-CN">

	<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="no-cache,IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>子系统层级维护</title>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrapValidator.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/jqGridDefined.css" />    
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/component.css" />  
	<link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css" />
    <link rel="stylesheet" href="#springUrl('')/projectManageui/static/css/BusinessTree/BusinessTree.css" />


    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/component.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/defaults-zh_CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/jqgrid/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/jqgrid/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/jqgrid/js/jquery.jqGrid.js"></script>
    
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/frame/layer.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/frame/laydate.js"></script> 
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/common/common.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/assetTree/assetBusinessSystemTree.js"></script>

	<script>
		$.jgrid.defaults.responsive = true;
		$.jgrid.defaults.styleUI = 'Bootstrap4';
		$.jgrid.defaults.iconSet = "fontAwesome";

		var addNextPer = $auth.hasPermission("$token","testManage:system:addNext"); // 新增下一级
		var editPer = $auth.hasPermission("$token","testManage:system:edit"); // 编辑
		var submitPer = $auth.hasPermission("$token","testManage:system:submit"); // 确定
		var savePer = $auth.hasPermission("$token","testManage:system:save"); // 保存
		var backPer = $auth.hasPermission("$token","testManage:system:back"); //取消

        var assetTreeType = 2;

    </script>
	</head>
	<body>
    <div class="main-content">
        <div class="content-btn">
            <div class="bottom-container">
                #if($auth.hasPermission("$token","testManage:system:addFirst"))
                    <button type="button" onclick="insertFirst_btn()" class="btn btn-primary">新建第一层</button>
                #end
            </div>
        </div>
        <div class="content-table">
            <div class="wode">
                <div class="box-body">
                    <table id="AssetBusinessTreeTable"></table>
                </div>
            </div>
        </div>
    </div>

    <div id="loading">
			<img class="loadingImg" src="#springUrl('')/systemui/static/images/loadingPic.gif" />
	</div>
    </body> 
</html>