<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理</title>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css" /> 
	<link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/component.css" />
	<link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css" /> 
	
    <link rel="stylesheet"  type="text/css"  media="screen" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css" />
     
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/jqGridDefined.css" />

    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/jquery.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/jquery.ba-resize.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/moment.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/bootstrap.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/daterangepicker.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/defaults-zh_CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/js/frame/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/projectManageui/static/jqgrid/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/projectManageui/static/jqgrid/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/projectManageui/static/jqgrid/js/jquery.jqGrid.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/projectManageui/static/jqgrid/js/jquery.jqGrid.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/projectManageui/static/js/project/projectManage/projectManage.js"></script>
    <script>
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap4';
        $.jgrid.defaults.iconSet = "fontAwesome";
        var ctxStatic="${ctxStatic}";
    </script>
    <style>
     .allInfo{
            width: auto;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            margin: 10px 0 15px;
            padding-right:15px;
            background-color: #F4F4FB;
        }
        .def_title{
            padding: 10px 20px 10px;
            position: relative;
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
        }
        .rowdiv{
            margin: 8px 0;
            padding: 0;
        }
        .rowdiv:before, .rowdiv:after {
            display: table;
            content: " ";
        }
        .rowdiv:after {
            clear: both;
        }
        .rowdiv .form-group{
            margin-bottom: 0;
        } 
         
        .textAreaStyle{
        	  border: 1px solid #ccc;
        	  border-radius: 4px;
        	  width: 100%;
        } 
    	.pjNameType1,.pjNameType2{
    		line-height:32px;
    		padding:2px 8px; 
    	}
    	.pjNameType1{
    		background-color: #108EE9;
    	}
    	.pjNameType2{
    		background-color: CC66FF;
    	}
    	#select_Correlation .modal-body{
    		padding: 0;
    	}
    	#select_Correlation .rowdiv{
    		margin:0;
    	}
    	#select_Correlation .search_btn{
    		margin-bottom:10px;
    	}
    	.form-horizontal .control-label{
    		padding: 0;
    	}
    	#add_preject .modal-header{
    		padding: 10px 15px;
    	}
    </style>
</head>
<body>
<div class="color1">
    <div class="container-fluid search_div" id="search_div"> 
        <div class="row control-row">
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">项目编号：</label></div>
                <div class="search_input">
                    <input type="text" class="form-control" placeholder="请输入" id="projectCode" name="projectCode" value="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">项目名称：</label></div>
                <div class="search_input">
                  	  <input type="text" class="form-control" placeholder="请输入" id="projectName" name="projectName" value="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">类型：</label></div>
                <div class="search_input">
                    <select class="selectpicker" id="projectType" name="projectType">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">状态：</label></div>
                <div class="search_input">
                    <select class="selectpicker" id="projectStatus" name="projectStatus">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row control-row">
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">起止时间：</label></div>
                <div class="search_input">
                    <input type="text" class="form-control" placeholder="yyyymmdd-yyyymmdd" id="time" name="time" value="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">项目目标：</label></div>
                <div class="search_input">
                     <input type="text" class="form-control" placeholder="请输入" id="projectTarget" name="projectTarget" value="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">项目简介：</label></div>
                <div class="search_input">
                    <input type="text" class="form-control" placeholder="请输入" id="projectOverview" name="projectOverview" value="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">项目成员：</label></div>
                <div class="search_input">
                     <input type="text" class="form-control" placeholder="请输入" id="userName" name="userName" value="" />
                </div>
            </div>

        </div>
        <div class="row control-row search_btn">
            <button type="button" class="btn btn-primary" onclick="searchInfo()">搜&nbsp;&nbsp;&nbsp;索</button>
            <button type="button" onclick="clearSearch()" class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>
            <!-- <div class="collection">
                <span class="fa fa-heart-o"></span>&nbsp;收藏此次筛选
            </div> -->
        </div>
    </div>
    <div id="downBtn">
        <span class="fa fa-caret-up"></span>
    </div>
</div>
<div class="main-content">
    <div class="content-btn">
        <button type="button" onclick="addProject()" class="btn btn-primary">新增项目</button>
    </div>
    <div class="content-table">
        <div class="wode">
           <table id="list2"></table>
            <div id="pager2"></div> 
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="add_preject" tabindex="-1" role="dialog" aria-labelledby="add_preject">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新建项目</h4>
            </div> 
            <div class="modal-body">
               <div class="allInfo">
                    <div class="def_title">
                         <span>项目基本信息</span> 
                    </div>
                    <div class="def_content">
                        <div class="rowdiv">
                            <div class="def_col_36">
               					 <div class="def_col_5"><label class="control-label">项目编号：</label></div>
                				 <div class="def_col_31">
                   					  <input type="text" class="form-control" placeholder="请输入" id="add_projectCode" name="projectCode" value="" />
                				 </div>
            				</div>
                        </div> 
                        <div class="rowdiv">
                            <div class="def_col_36">
               					 <div class="def_col_5"><label class="control-label">项目名称：</label></div>
                				 <div class="def_col_31">
                   					  <input type="text" class="form-control" placeholder="请输入" id="add_projectName" name="projectName" value="" />
                				 </div>
            				</div>
                        </div> 
                        <div class="rowdiv">
                            <div class="def_col_36">
               					 <div class="def_col_5"><label class="control-label">项目类型：</label></div>
                				 <div class="def_col_13">
                   					 <select class="selectpicker" id="add_projectType" name="111111">
                        				 
                  					 </select>
								 </div>
            				</div>
                        </div> 
                        <div class="rowdiv">
                            <div class="def_col_36">
               					 <div class="def_col_5"><label class="control-label">项目简介：</label></div>
                				 <div class="def_col_31">
                   					<textarea class="textAreaStyle" style="resize:none" rows="3" cols="20"></textarea>
								 </div>
            				</div>
                        </div>
                        <div class="rowdiv">
                            <div class="def_col_36">
               					 <div class="def_col_5"><label class="control-label">项目周期：</label></div>
                				 <div class="def_col_13">
                   					 <input type="text" class="form-control" placeholder="yyyymmdd-yyyymmdd" id="add_time" name="add_time" value="" />
								 </div>
								 <div class="def_col_1">
                   					 <input type="checkBox" style="dispaly:inline-block;margin-top:9px;" />
								 </div>
								 <div class="def_col_4"><label class="control-label"  style="text-align:left;">长期项目</label></div>
            				</div>
                        </div>  
                        
                        <div class="rowdiv">
                            <div class="def_col_36">
               					 <div class="def_col_5"><label class="control-label">关联子系统：</label></div>
                				 <div class="def_col_13">
                   					 <input type="text" class="form-control" onclick="selectCorrelation()" placeholder="请输入" /> 	 
								 </div> 
								 <div class="def_col_5"><label class="control-label">所属部门：</label></div>
                				 <div class="def_col_13">
                   					 <select class="selectpicker" id="add_projectType" name="add_projectType">
                        				 <option value="">请选择</option>
                  					 </select>
								 </div> 
            				</div>
                        </div>  
                    </div>
                </div> 
       		</div>
       		<div class="modal-footer">
       			<button type="button" onclick="addPrejectCommit()" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
       </div>
   </div>
</div>  
<div class="modal fade bs-example-modal-lg" id="select_Correlation" tabindex="-1" role="dialog" aria-labelledby="newPerson">
        <div class="modal-dialog modal-lg modal-user" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="myModalLabel">选择关联子系统</span>
           	 </div>  
                <div class="modal-body">
                    <form class="form-horizontal" id="userForm">
                        <div class="color1">
                            <div class="container-fluid" id="search_div2">
                                <div class="rowdiv control-row">
                                    <div class="col-md-2">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="search_font"><label class="control-label">子系统名称：</label></div>
                                        <div class="search_input">
                                            <input type="text" class="form-control" placeholder="请选择" id="SCsystemName" name="systemName" value="" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="search_font"><label class="control-label">子系统编码：</label></div>
                                        <div class="search_input">
                                           <input type="text" class="form-control" placeholder="请选择" id="SCsystemCode" name="systemCode" value="" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                         
                                    </div>
                                </div>
                                <div class="rowdiv control-row search_btn">
                                    <button type="button" class="btn btn-primary" onclick="presonTableShow()">搜&nbsp;&nbsp;&nbsp;索</button>
                                    <button type="button" onclick="clearSearch()" class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>
                                </div>

                            </div>
                            <div id="downBtn2">
                                <span class="fa fa-caret-up"></span>
                            </div>
                        </div>
                        <br>
                        <div class="content-table">
                            <div class="wode">
                                <table id="presonTable"></table> 
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="insertRoleUser()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div> 
            </div>
        </div>
    </div>

</body>
</html>
 