<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>缺陷率报表</title>
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/bootstrapValidator.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/jqGridDefined.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/jquery.editable-select.min.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/component.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/frame/daterangepicker-bs3.css" />
<link rel="stylesheet"
	href="#springUrl('')/systemui/static/css/common/common.css" />
<link rel="stylesheet"
	href="#springUrl('')/testManageui/static/css/testReport/testReport.css" />


<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/clipboard/clipboard.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/moment.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/jquery.ba-resize.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/defaults-zh_CN.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
	src="#springUrl('')/testManageui/static/js/frame/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/jqgrid/js/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/jqgrid/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/jqgrid/js/jquery.jqGrid.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/frame/layer.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/frame/laydate.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/component.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/common.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/common/common.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/testManageui/static/js/testReport/defectProReport.js"></script>
<script type="text/javascript"
	src="#springUrl('')/systemui/static/js/frame/daterangepicker.js"></script>
<script type="text/ecmascript"
	src="#springUrl('')/systemui/static/js/echarts.min.js"></script>
<script>
	$.jgrid.defaults.responsive = true;
	$.jgrid.defaults.styleUI = 'Bootstrap4';
	$.jgrid.defaults.iconSet = "fontAwesome";
	var ctxStatic = "${ctxStatic}";

	//测试
	var testTaskMenuUrl = '$system.getMenuByCode("testManageui:testtask:toTestTask").url';
	var testTaskMenuId = '$system.getMenuByCode("testManageui:testtask:toTestTask").id';
	var testTaskMenuName = '$system.getMenuByCode("testManageui:testtask:toTestTask").menuButtonName';
	//缺陷
	var defectUrl = '$system.getMenuByCode("testManageui:defect:toDefect").url';
	var detectId = '$system.getMenuByCode("testManageui:defect:toDefect").id';
	var defectName = '$system.getMenuByCode("testManageui:defect:toDefect").menuButtonName';
</script>
</head>
<body>
	<div class="color1">
		<div class="container-fluid" id="search_div_test">
			<div class="row control-row">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<div class="search_font">
						<label class="control-label">时间：</label>
					</div>
					<div class="search_input">
						<input type="text" class="form-control" placeholder="请选择时间"
							id="searchDate" name="searchDate" value="" />
					</div>
				</div>
				<div class="col-md-3">
					<div class="search_font">
						<label class="control-label">所属系统：</label>
					</div>
					<div class="search_input" id="__parent">
						<select class="selectpicker" id="systemId" multiple
							name="systemId">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row control-row search_btn">

				<button type="button" class="btn btn-primary" onclick="queryData()">统计</button>
				<button type="button" onclick="clearSearch()"
					class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>

				<span id="sampleUrl" class="hideBlock">zzz</span>
				<button id="copyWordCode" class="btn btn-primary hideBlock"
					data-clipboard-action="copy" data-clipboard-text="zzz">链接分享</button>
			</div>
		</div>
		<div id="downBtn" class="downBtn">
			<span class="fa fa-caret-up"></span>
		</div>
	</div>
	<div class="main-content">
		<center>
			<div id="main" style="width: 1000px; height: 450px;"></div>
		</center>
		<div class="content-table">
			<div class="row tableTitle">运维期项目统计</div>
			<table id="oamDefectTable"></table>
		</div>
		<div class="content-table">
			<div class="row tableTitle">新建期项目统计</div>
			<table id="newDefectTable"></table>
		</div>
	</div>
</body>
</html>