<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库管理</title>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css"/>
    ## <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/jqGridDefined.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css"/>
    ## <link rel="stylesheet" href="#springUrl('')/devManageui/static/css/dataBase/dataBase.css">

    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>
    ## <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/defaults-zh_CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/layer.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/jqgrid/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/jqgrid/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/jqgrid/js/jquery.jqGrid.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/common/common.js"></script>
    <script type="text/javascript" src="#springUrl('')/devManageui/static/js/dataBase/dataBase.js"></script>
    <script>
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap4';
        $.jgrid.defaults.iconSet = "fontAwesome";
    </script>
    <style>
    body,.ui-jqgrid-labels {
        font-size: 12px !important;
    }
    .red{
        color:red;
    }
    ._flex_c{
        display: flex;
        align-items: center;
    }
    </style>
</head>
<body>
    <div class="color1">
        <div class="container-fluid" id="search_div">
            <div class="row control-row">
                <div class="col-md-4">
                    <div class="search_font">
                        <label class="control-label">系统：</label>
                    </div>
                    <div class="search_input">
                        <select class="selectpicker" id="systemId" title="请选择">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search_font">
                        <label class="control-label">子系统：</label>
                    </div>
                    <div class="search_input">
                        <select class="selectpicker" id="systemModuleId" title="请选择">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search_font">
                        <label class="control-label">环境：</label>
                    </div>
                    <div class="search_input">
                        <select class="selectpicker" id="environmentType" title="请选择">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row control-row search_btn">
                <button type="button" class="btn btn-primary" onclick="searchInfo()">搜&nbsp;&nbsp;&nbsp;索</button>
                <button type="button" onclick="clearSearch()" class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>
            </div>
        </div>
        <div id="downBtn" class="downBtn">
            <span class="fa fa-caret-up"></span>
        </div>
    </div>

    <div class="main-content">
        <div class="content-btn">
            ## #if($auth.hasPermission("$token","devMa阿nage:defect:export"))
            <button type="button" onclick="_add()" class="btn btn-primary">新建数据库</button>
            ## #end
        </div>
        <div class="content-table">
            <table id="dataBaseList"></table>
            <div id="dataBaseListPager"></div>
        </div>
    </div>

##新建数据库按钮
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="newPerson">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="modal-title" id="microChildService">新建数据库</span>
                    <input type="hidden" id="edit_id" />
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="_addFrom" accept-charset="utf-8" enctype="multipart/form-data">
                        <div class="rowdiv">
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt"><span class="red">*</span>系统：</label>
                                <div class="def_col_28 control-label">
                                    <select class="selectpicker form-control systemId" name="systemId" title="请选择">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt">子系统：</label>
                                <div class="def_col_28 control-label">
                                    <select class="selectpicker form-control systemModuleId" name="systemModuleId" title="请选择">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="rowdiv">
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt"><span class="red">*</span>环境：</label>
                                <div class="def_col_28 control-label">
                                    <select class="selectpicker form-control environmentType" name="environmentType" title="请选择">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt"><span class="red">*</span>驱动类：</label>
                                <div class="def_col_28 control-label">
                                    <input type="text" class="form-control driverClassName" placeholder="请输入" name="driverClassName">
                                </div>
                            </div>
                        </div>
                        <div class="rowdiv">
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt"><span class="red">*</span>URL：</label>
                                <div class="def_col_28 control-label">
                                    <input type="text" class="form-control url" placeholder="请输入" name="url">
                                </div>
                            </div>
                        </div>
                        <div class="rowdiv">
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt"><span class="red">*</span>用户名：</label>
                                <div class="def_col_28 control-label">
                                    <input type="text" class="form-control" placeholder="请输入" name="data_userName" id="data_userName">
                                </div>
                            </div>
                            <div class="form-group def_col_18">
                                <label class="def_col_8 control-label font_right fontWeihgt"><span class="red">*</span>密码：</label>
                                <div class="def_col_28 _flex_c">
                                    <div class="def_col_26 control-label">
                                        <input type="text" autocomplete="off" password="" class="form-control" placeholder="请输入" name="data_password" id="data_password">
                                    </div>
                                    <div class="def_col_10" id="check_password_body">
                                        <input type="checkbox" id="check_password"><span>显示密码</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addSubmit()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loading">
        <img class="loadingImg" src="#springUrl('')/systemui/static/images/loadingPic.gif"/>
    </div>
</body>
</html>