<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>开发任务管理-拆分页面</title>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css "> 
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/jquery.editable-select.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-datetimepicker.min.css"/> 
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrapValidator.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css"/> 
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/jqGridDefined.css"/> 
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/component.css"/>  
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css"/>
    <link rel="stylesheet" href="#springUrl('')/devManageui/static/css/devtask/devtask.css"/>
    <style>
    	body{
    		 padding-right: 20px;
    	}
        .woDIV {
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 1090;
        }
        .micSup {
		    background-color: #CC66FF;
		    line-height: 12px;
		    padding: 2px 6px;
		    color: white;
		    border-radius: 10px;
		} 
		
		.fa-circle{
    		color: #FFBF00;
    	}
		.marginR{
    		margin-left: 35px; 
    		margin-right: 15px; 
    		font-size: 12px;
    		margin-top: -5px;
    	}
    	.colorW{
    		color: white;
    		font-size: 14px; 
    	}
    	.titleFontS{
    		font-size: 14px; 
    	}
    	.jobArea{
    		margin-top: 10px;
    		border: 1px solid #D9D9D9; 
    		border-radius: 5px;
    		padding: 10px 30px 0;
    		background: #F4F4FB;
    	} 
    	.oneJob{
    		margin-bottom: 10px;
    	}
    	.proText{ 
    		padding: 15px 160px 25px;
    	}
    	.proText p{
    		margin-top: 3px;
    		color: #F04134;
    	}
    	#confirmModel .modal-body{
    		padding: 40px 35px 0;
    	}
    	.footerBtn{
    		padding:18px 0;
    		text-align: center;
    	} 
    	.footerBtn .btn{
    		padding: 6px 18px;
    	}
    	.btn_clear{
    		right: 19px;
    	}
			.bs-select-all,.bs-deselect-all{
            width: 70px !important;
        }
    </style>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/jquery.js"></script> 
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/jquery-editable-select.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/jquery.ba-resize.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/component.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrapValidator.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/defaults-zh_CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/layer.js"></script>

	<script type="text/ecmascript" src="#springUrl('')/systemui/static/jqgrid/js/def-jquery-ui.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/jqgrid/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/jqgrid/js/jquery.jqGrid.js"></script> 
    <script>
    	var editPermission = $auth.hasPermission("$token","devManage:devtask:edit");
    	var transferPermission = $auth.hasPermission("$token","devManage:devtask:transfer");
    	var splitPermission = $auth.hasPermission("$token","devManage:devtask:split");
    	var handleEditPermission = $auth.hasPermission("$token","devManage:devtask:handle");
    	var mergeEditPermission = $auth.hasPermission("$token","devManage:devtask:merge");
   		var uid = $uid;
    	var username = '$username';
    	var defectMenuUrl =' $system.getMenuByCode("devManageui:defect:toDefect").url';
    	var reqAttUrl = '$reqAttUrl';
    	
    </script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/common.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/common/common.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/common/fuzzy_serach.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/common/fuzzy_serach_test.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/devManageui/static/js/devtask/devtask_split.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/devManageui/static/js/devtask/devtaskOther.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/devManageui/static/js/devtask/devtaskInfo_other.js"></script>
    
    <script>
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap4';
        $.jgrid.defaults.iconSet = "fontAwesome"; 
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>

</head>

<body>
<div class="color1" style="display: none">
    <div class="container-fluid" id="search_div">
    	<form id="searchForm"/>
    	 <input id="requirementFeatureStatus" type="hidden" value="$requirementFeatureStatus"/>
        <div class="row control-row">
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">任务编号：</label></div>
                <div class="search_input">
                    <input type="text" class="form-control" placeholder="请输入" id="devTaskCode" name="featureCode"
                           value=""/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">任务名称：</label></div>
                <div class="search_input">
                    <input type="text" class="form-control" placeholder="请输入" id="featureName" name="featureName"
                           value=""/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">开发管理岗：</label></div>
                <div class="search_input chanceMyself">
                    <input type="hidden" id="devManPost" name="manageUserId"/>
                    <input type="text" class="form-control pointStyle readonly def_col_20" readonly placeholder="请选择" id="devManPostName" />
                	<div class="def_col_16"><button type="button" class="btn btn-primary chanceMyselfBtm" onclick = "selectMyself(this)">选自己</button></div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">任务状态：</label></div>
                <div class="search_input">
                    <select class="selectpicker" id="devTaskStatus" multiple name="requirementFeatureStatus">
                        <!-- #foreach($dictMap in ${dict.getDictMap(
                            "TBL_REQUIREMENT_FEATURE_REQUIREMENT_FEATURE_STATUS").entrySet()})
                            <option value="${dictMap.key}">${dictMap.value}</option>
                        #end -->
                    </select>
                </div>
            </div>
        </div>
        <div class="row control-row">
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">投产窗口：</label></div>
                <div class="search_input">
                  #*  <select class="selectpicker" style="overflow: scroll" id="planVersion" multiple name="commissioningWindowId"
                            data-live-search="true">
                    </select>*#
                    <input type="hidden"  id="planVersion" name=""/>
                    <input type="text" class="form-control pointStyle clear readonly" readonly placeholder="请选择" id="planVersionName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">关联需求：</label></div>
                <div class="search_input">
                    <input type="hidden"  id="requirementId" name="requirementId"/>
                    <input type="text" class="form-control pointStyle clear readonly" readonly placeholder="请选择" id="requirementName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">涉及子系统：</label></div>
                <div class="search_input">
                    <input type="hidden" id="systemId" name="systemId"/>
                    <input type="text" class="form-control pointStyle clear readonly" readonly placeholder="请选择" id="systemNameReq" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="search_font"><label class="control-label">创建方式：</label></div>
                <div class="search_input">
                    <select class="selectpicker" style="overflow: scroll" id="createTye" name="createType">
                        <option value="">请选择</option>
                        <option value="1">自建任务</option>
                        <option value="2">同步任务</option>
                    </select>
                </div>
            </div>
        </div>
         <div class="row control-row">
            <div class="col-md-3">
               <div class="search_font"><label class="control-label">执行人：</label></div>
                <div class="search_input chanceMyself">
                    <input type="hidden" id="execteUserId" name="executeUserId"/>
                    <input type="text" class="form-control pointStyle readonly def_col_20" readonly placeholder="请选择" id="execteUserName" />
                	<div class="def_col_16"><button type="button" class="btn btn-primary chanceMyselfBtm" onclick = "selectMyself(this)">选自己</button></div>
                </div>
            </div>
            <div class="col-md-3">
               <div class="search_font"><label class="control-label">优先级：</label></div>
               <div class="search_input">
                    <select class="selectpicker" id="reqFeaturePriority" multiple name="">
                        #foreach($dictMap in ${dict.getDictMap(
                            "TBL_REQUIREMENT_FEATURE_PRIORITY").entrySet()})
                            <option value="${dictMap.key}">${dictMap.value}</option>
                        #end
                    </select>
                </div>
            </div>
              <div class="col-md-3">
               <div class="search_font"><label class="control-label">冲刺：</label></div>
                <div class="search_input chanceMyself">
                    <input type="hidden" id="sprintIds" />
                    <input type="text" class="form-control pointStyle clear readonly" readonly placeholder="请选择" id="sprintNames" />
                </div>
            </div>
        </div> 
        </form>
    </div> 
</div> 
<form id="splitForm" method="post" class="rowdiv">
	<div class="def_col_24">
		<div class="allInfo">
			<div class="def_title">
				<span>开发任务信息</span>
				<span class="fa fa-angle-double-up" onclick="down(this)"></span>
			</div>
			<div class="def_content">
				<input id="splitDevtaskId" type="hidden" />
				<input id="splitCommitWindowId" type="hidden" />
				<input id="splitStatus" type="hidden" /> 
				<input id="splitSystemId" type="hidden" />
				<div class="rowdiv">
					<div class="form-group col-md-12">
						<label class="control-label fontWeihgt">任务摘要：</label>
						<label class="control-label font_left" id="splitSummary"> </label>
					</div>
				</div>
				<div class="rowdiv">
					<div class="form-group col-md-12">
						<label class=" control-label fontWeihgt">任务描述：</label>
						<pre id="sOverView" class="def_pre" style="resize:none" > </pre>
 					</div>
				</div>
				<div class="rowdiv">
					<div class="form-group col-md-4">
						<label class=" control-label fontWeihgt">任务状态：</label>
						<label class=" control-label font_left" id="sDevtaskStatus"> </label>
					</div>
					<div class="form-group col-md-4">
						<label class=" control-label fontWeihgt">管理岗：</label>
						<label class=" control-label font_left" id="sManageUser"></label>
					</div>
					<div class="form-group col-md-4">
						<label class=" control-label fontWeihgt">执行人：</label>
						<label class=" control-label font_left" id="sEcecuteUser"> </label>
					</div>
				</div>
				<div class="rowdiv">
					<div class="form-group col-md-12">
						<label class=" control-label fontWeihgt">关联子系统：</label>
						<label class=" control-label font_left" id="sSystemId"> </label>
					</div>
				</div>
				<div class="rowdiv" id="sRequirementDiv">
					<div class="form-group col-md-12">
						<label class=" control-label fontWeihgt">关联需求：</label>
						<label class=" control-label font_left" id="sRequirementId"> </label>
					</div>
				</div>
				<div class="rowdiv" id="sDefectDiv">
					<div class="form-group col-md-12">
						<label class="control-label fontWeihgt">关联缺陷：</label>
						<label class="control-label font_left" id="sDefect"> </label>
					</div>
				</div>
				<div class="rowdiv" id="sRequstNumberDiv">
					<div class="form-group col-md-12">
						<label class="control-label fontWeihgt">生产问题单号：</label>
						<label class="control-label font_left" id="sRequstNumber"> </label>
					</div>
				</div>
				<div class="rowdiv">
					<div class="form-group col-md-4">
						<label class="control-label fontWeihgt">所属处室：</label>
						<label class="control-label font_left" id="sDeptId"></label>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label fontWeihgt">临时任务：</label>
						<label class="control-label font_left" id="sTemporaryTask"> </label>
					</div>
					<div class="form-group col-md-4" id="ssprintDiv" style="display:none">
						<label class="control-label fontWeihgt">冲刺：</label>
						<input id="ssprintId" type="hidden" /> 
						<label class="control-label font_left" id="ssprintName"> </label>
					</div> 
				</div>
			</div>
		</div> 
		<div id="works">
			<div class="onedatas disEdit">
				<div class="rowdiv">
					<div class="form-group def_col_36">
						<label class="def_col_4 control-label fontWeihgt"><span class="redStar">*</span>任务摘要：</label>
						<div class="def_col_28"><input type="text" class="form-control sWorkSummary" placeholder="请输入" name="sWorkSummary" /></div>
						<button type="button" onclick="sameReq(this)" class=" btn btn-primary" style="margin-left: 20px;">同任务
		                       </button>
					</div>
				</div>
				<div class="rowdiv">
					<div class="form-group def_col_36">
						<label class="def_col_4 control-label fontWeihgt"><span class="redStar">*</span>任务描述：</label>
						<div class="def_col_32">
							<textarea class="form-control sWorkOverView" placeholder="请输入" name="sWorkOverView"></textarea>
						</div>
					</div>
				</div>
		
				<div class="rowdiv">
					<div class="form-group def_col_12">
						<label class="def_col_12 control-label fontWeihgt"><span class="redStar">*</span>计划开始：</label>
						<div class="def_col_24">
							<input type="text" readonly class="form-control pointStyle readonly form_datetime sWorkStart" readonly placeholder="请选择" name="startWork" />
						</div>
					</div>
					<div class="form-group def_col_12">
						<label class="def_col_12 control-label fontWeihgt"><span class="redStar">*</span>计划结束：</label>
						<div class="def_col_24">
							<input type="text" readonly class="form-control pointStyle readonly form_datetime sWorkEnd" readonly placeholder="请选择" name="endWork" />
						</div>
					</div>
					<div class="form-group def_col_12">
						<label class="def_col_19  control-label fontWeihgt"><span class="redStar">*</span>预计工作量(人天)：</label>
						<div class="def_col_17 "><input type="text" class="form-control sWorkPlanWorkload" placeholder="请输入" name="sWorkPlanWorkload" /></div>
					</div>
				</div>
				<div class="rowdiv">
					<div class="form-group def_col_12">
						<label class="def_col_12 control-label fontWeihgt"><span class="redStar">*</span>任务分配：</label>
						<div class="def_col_24 chanceMyself">
							<input class="sWorkDivid" type="hidden" id="sWorkDivid_0"/>
							<input onclick="searchUserName(this)" type="text" placeholder="请输入关键字搜索" id="sWorkDividUserName_0"
							class="form-control def_col_20 sWorkDividUserName" name="sWorkDividUserName" />
							<div class="def_col_16"><button type="button" class="btn btn-primary chanceMyselfBtm" onclick = "selectMyself(this)">选自己</button></div>
						</div>
					</div> 
					<div class="form-group def_col_12">
						<label class="def_col_12 control-label fontWeihgt"><span class="redStar">*</span>优先级：</label>
						<div class="def_col_24 chanceMyself">
							<select class="selectpicker splitDevTaskPriority" id="splitDevTaskPriority" name="splitDevTaskPriority">
								<option value="">--请选择--</option>
								#foreach($dictMap in ${dict.getDictMap(
									"TBL_DEV_TASK_PRIORITY").entrySet()})
									<option value="${dictMap.key}">${dictMap.value}</option>
								#end
							</select>
						</div>
					</div>
                    <div class="form-group def_col_12">
                        <label class="def_col_12 control-label fontWeihgt"><span class="redStar">*</span>任务类型：</label>
                        <div class="def_col_24 chanceMyself">
                            <select class="selectpicker splitDevTaskType" id="splitDevTaskType" name="splitDevTaskType">
                                <option value="">--请选择--</option>
								#foreach($dictMap in ${dict.getDictMap(
									"TBL_DEV_TASK_DEV_TASK_TYPE").entrySet()})
                                    <option value="${dictMap.key}">${dictMap.value}</option>
								#end
                            </select>
                        </div>
                    </div>
				</div>
			</div>
		
		</div>
		<div class="rowdiv">
			<button type="button" class="btn btn-primary" onclick="addWorkJob()">增加工作任务</button>
		</div>
		<div class="rowdiv">
			<button type="button" class="btn btn-primary" onclick="checkNoCompleteWorkload()"> 查看人员未完成工作量 </button>
		</div>
		<div class="wode countWorkloadDiv">
         			<table id="countWorkloads"></table>
     			</div>

	</div>
	<div class="def_col_12">

		<div class="allInfo">
			<div class="def_title">
				<span>下属工作任务</span>
				<span class="fa fa-angle-double-up" onclick="down(this)"></span>
			</div>
			<div class="connect_div" id="sworkDevTaskDiv">

			</div>
		</div> 
	</div> 
</form> 

#*人员弹框*#
<div class="modal fade bs-example-modal-lg" id="userModalreqF" tabindex="-1" role="dialog" aria-labelledby="newPerson">
    <div class="modal-dialog modal-lg modal-user" role="document">
        <div class="modal-content modalStyle">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span>选择人员</span>
            </div>
            <div class="modal-body">
                <div class="color1">
                    <div class="container-fluid">
                        <div class="row control-row">
                            <div class="col-md-3">
                                <div class="search_font"><label class="control-label">姓名：</label></div>
                                <div class="search_input">
                                    <input type="text" class="form-control " placeholder="请输入" id="userNameReqF"
                                           name="userName" value=""/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="search_font"><label class="control-label">部门：</label></div>
                                <div class="search_input">
                                  #*<select class="selectpicker" id="deptName" name="deptName">
                                    </select>*#
                                    <input type="text" class="form-control " placeholder="请输入" id="deptName"
                                       name="deptName" value=""/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="search_font"><label class="control-label">公司：</label></div>
                                <div class="search_input">
                                    #*<select class="selectpicker" id="companyName" name="companyName">
                                    </select>*#
                                    <input type="text" class="form-control " placeholder="请输入" id="companyName"
                                       name="companyName" value=""/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="search_font"><label class="control-label">项目：</label></div>
                                <div class="search_input">
                                    <select class="selectpicker" multiple data-actions-box="true"  id="project" name="project">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row control-row">
                            <div class="col-md-3">
                                <div class="search_font"><label class="control-label">在职状态：</label></div>
                                <div class="search_input">
                                    <select class="selectpicker" id="Working_state">
                                    	<option value="1" checked>在职</option>
                                    	<option value="2">离职</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row control-row search_btn">
                            <button type="button" class="btn btn-primary" id="userSearch" onclick="userTableShow2()">搜&nbsp;&nbsp;&nbsp;索</button>
                            <button type="button" onclick="clearSearchUser()" class="btn btn-default">重&nbsp;&nbsp;&nbsp;置</button>
                        </div>

                    </div>
                    <div id="downBtn" class="downBtn">
                        <span class="fa fa-caret-up"></span>
                    </div>
                </div>
                <br>
                <div class="content-table">
                    <div class="wode">
                        <table id="userTableReqF"></table>
                        <div id="userPage"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="bottom-container">
                    <button type="button" id="userbutton" class="btn btn-primary" data-user="default"
                            onclick="commitUserReqF()">确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div> 
  
 ##工作任务查看
		<div class="modal fade bs-example-modal-lg" id="selectdetail" tabindex="-1" role="dialog" aria-labelledby="newPerson">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content ">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><span id="SdevCode"></span>|<span id="SdevName"></span></h4>
					</div>
					
					<div class="modal-body">
						<p class="titStyle">工作任务内容</p>
						<hr/>
					<div class="modal_titleFont">
						<!-- <span id="SdevOverview"></span> -->
						<textarea id="SdevOverview" class="noBorder nobg" readonly style="resize:none" > </textarea>
					</div> 
					
					<div class="rowdiv">
						<div class="form-group col-md-4">
							<label class="col-sm-4 control-label font_left fontWeihgt">任务状态：</label>
							<label class="col-sm-8 select-label" id="SStatus"></label>
						</div>
						<div class="form-group col-md-4">
							<label class="col-sm-4 control-label font_left fontWeihgt">执行人：</label>
							<label class="col-sm-8 select-label" id="devuserID"></label>
						</div>
						<div class="form-group col-md-4">
							<label class="col-sm-5 control-label font_left fontWeihgt">任务创建人：</label>
							<label class="col-sm-7 select-label" ><span id="wcreateBy"></span>|<span id="wcreateDate"></span></label>
						</div>
					</div>
					<div class="rowdiv">
						<div class="form-group col-md-4">
							<label class="col-sm-4 control-label font_left fontWeihgt">预计开始时间：</label>
							<label class="col-sm-8 select-label" id="wplanStartDate"></label>
						</div>
						<div class="form-group col-md-4">
							<label class="col-sm-4 control-label font_left fontWeihgt">预计结束时间：</label>
							<label class="col-sm-8 select-label" id="wplanEndDate"></label>
						</div>
						<div class="form-group col-md-4">
							<label class="col-sm-5 control-label font_left fontWeihgt">预计工作量(人天)：</label>
							<label class="col-sm-7 select-label" id="wSplanWorkload"></label>
						</div>
					</div>
					<div class="rowdiv">
						<div class="form-group col-md-4">
							<label class="col-sm-4 control-label font_left fontWeihgt">实际开始时间：</label>
							<label class="col-sm-8 select-label" id="wactualStartDate"></label>
						</div>
						<div class="form-group col-md-4">
							<label class="col-sm-4 control-label font_left fontWeihgt">实际结束时间：</label>
							<label class="col-sm-8 select-label" id="wactualEndDate"></label>
						</div>
						<div class="form-group col-md-4">
							<label class="col-sm-5 control-label font_left fontWeihgt">实际工作量(人天)：</label>
							<label class="col-sm-7 select-label" id="wactualWorkload"></label>
						</div>
					</div>
					<div class="rowdiv">
                        <div class="form-group col-md-4">
                            <label class="col-sm-4 control-label font_left fontWeihgt">任务类型：</label>
                            <label class="col-sm-8 select-label" id="check_devTaskType"></label>
                        </div>
					</div>
					<div class="rowdiv">
						 	<div class="form-group">
							<label class="def_col_4 control-label font_left fontWeihgt">相关附件：</label>
							<div class="col-md-10">
							
							<div class="file-upload-list">
									<table class="file-upload-tb" id="SeeFileTable">
										
									</table>
								</div>
							</div>
						</div>	</div> 

						<div class="allInfo">
							<div class="def_title"> 
								<span>关联开发任务信息</span>
							</div>
							<div class="def_content"> 
								 <div class="rowdiv">
									<div class="form-group def_col_36">
										<label class="def_col_6 control-label font_right fontWeihgt">任务名称：</label>
										<label class="def_col_30 select-label" id="wfeatureName"></label>
									</div>
								</div>
								<div class="rowdiv">
									<div class="form-group def_col_36">
										<label class="def_col_6 control-label font_right fontWeihgt">任务描述：</label>
										<label class="def_col_30 select-label" id="wfeatureOverview"></label>
									</div>
								</div>
								<div class="rowdiv">
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">任务状态：</label>
										<label class="def_col_18 select-label" id="wrequirementFeatureStatus"></label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">管理岗：</label>
										<label class="def_col_18 select-label" id="wmanageUserId"></label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">执行人：</label>
										<label class="def_col_18 select-label" id="wexecuteUserId"></label>
									</div>
								</div>
								<div class="rowdiv">
									<div class="form-group def_col_36">
										<label class="def_col_6 control-label font_right fontWeihgt">关联子系统：</label>
										<label class="def_col_30 select-label" id="wsystemId"></label>
									</div>
								</div>
							</div> 	 
						</div>
						
						<div class="allInfo">
							<div class="def_title"> 
								<span>关联需求信息</span>
							</div>
							<div class="def_content">
								<div class="rowdiv">
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">需求名称：</label>
										<label class="def_col_18 select-label" id="wrequirementName"></label>
									</div>
								</div>  
								<div class="rowdiv">
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">需求来源：</label>
										<label class="def_col_18 select-label" id="wrequirementSource"></label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">需求类型：</label>
										<label class="def_col_18 select-label" id="wrequirementType"></label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">优先级：</label>
										<label class="def_col_18 select-label" id="wrequirementPriority"> </label>
									</div>
								</div>
								<div class="rowdiv">
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">需求计划：</label>
										<label class="def_col_18 select-label" id="wrequirementPanl"></label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">需求状态：</label>
										<label class="def_col_18 select-label" id="wrequirementStatus"> </label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">提出人：</label>
										<label class="def_col_18 select-label" ><span  id="wapplyUserId"></span>|<span  id="wapplyDeptId"></span></label>
									</div>
								</div>
								
								<div class="rowdiv">
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">期望上线：</label>
										<label class="def_col_18 select-label" id="expectOnlineDate"></label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">计划上线：</label>
										<label class="def_col_18 select-label" id="planOnlineDate"> </label>
									</div>
								</div>
								<div class="rowdiv">
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">创建日期：</label>
										<label class="def_col_18 select-label" id="createDate3"> </label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">更新日期：</label>
										<label class="def_col_18 select-label" id="lastUpdateDate3"> </label>
									</div>
									<div class="form-group def_col_12">
										<label class="def_col_18 control-label font_right fontWeihgt">开启日期：</label>
										<label class="def_col_18 select-label" id="openDate"> </label>
									</div>
								</div>
							</div> 
						</div> 
						<div class="allInfo">
	                        <div class="def_title" id="titleOfwork">
	                            <span class="def_controlTit" onclick="showThisDiv2(this,1)">工作备注</span><span class="def_changeTitIcon"> 丨 </span><span onclick="showThisDiv2(this,2)" class="def_controlTit def_changeTit">处理日志</span> 
	                            <span class="fa fa-angle-double-up" onclick="down(this)"></span>
	                        </div>
	                        <div class="def_content">
	                         	<input id="checkfiles" type="hidden" name="attachFiles" />
	                       		<div class="workRemarks">
	                        		 <div class="new_workRemarks">
	                        		 	<textarea id="tyaskRemark" class="def_textarea" rows="3" cols="102" placeholder="请输入工作备注内容"></textarea>
	                        		 	<input type="hidden" id="DevTaskID" />
	                        		 	<div class="rowdiv">
			                                <div class="form-group">
			                                    <label class="def_col_4 control-label fontWeihgt">相关附件：</label>
			                                     <div class="def_col_32 file-upload-select">
					                                <input type="file" name="files" class="upload-files" multiple="multiple"
					                                        id="wcheckuploadFile"/>
					                            </div>
			                                    <div class="file-upload-list">
			                                        <table class="file-upload-tb" id="checkAttTable"> 
		                                       			
			                                        </table>
			                                    </div> 
			                                </div> 
			                            </div>
			                          <div class="new_workRomarksBtn">
			                            	 <input type="button" class="btn btn-primary" onclick="addDevRemark()"  value="保存工作备注" />
			                            </div>
	                        		 </div>  
		                        	  <div class="old_workRemarks" id="taskRemark">
			                           
		                        	 </div> 
	                       		 </div>
	                       		 <div class="dealLog" id="whandleLogs">
	                        	 	
	                        	 </div> 
	                        </div>
                    </div>
                
						
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>  
<div id="loading"> 
		<img class="loadingImg" src="#springUrl('')/systemui/static/images/loadingPic.gif" />
   </div> 
</body>
</html>