<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="no-cache,IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>测试案例执行结果</title>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/font-awesome.min.css ">
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/frame/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/jqgrid/jqgrid/css/ui.jqgrid-bootstrap4.css"/>
    <link rel="stylesheet" href="#springUrl('')/systemui/static/css/common/common.css"/>

    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/jquery.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="#springUrl('')/systemui/static/js/frame/bootstrap-select.min.js"></script>

    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/frame/layer.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/systemui/static/js/common/common.js"></script>
    <script type="text/ecmascript" src="#springUrl('')/testManageui/static/js/testExecution/testCaseExecutionResult.js"></script>
    <script>
        testCaseExecutionResult_Param.testSetId = "$!testSetId";
        testCaseExecutionResult_Param.caseNumber = "$!caseNumber";
        testCaseExecutionResult_Param.refreshtoType = "$!refreshtoType";
        #foreach($dictMap in ${dict.getDictMap("TBL_TEST_SET_CASE_CASE_EXECUTE_RESULT").entrySet()})
        testCaseExecutionResult_Param.caseExecuteResult_Dic.push(["${dictMap.key}", "${dictMap.value}"]);
        #end
    </script>
</head>
<body>
<div class="main-content">
    <div class="content-table">
        <div class="wode">
            <table id="testCaseExecutionTable"></table>
        </div>
    </div>
</div>

<div id="loading">
    <img class="loadingImg" src="#springUrl('')/systemui/static/images/loadingPic.gif"/>
</div>
</body>
</html>