body{
	background: #F2F2F2;
}
.header{ 
	height: 50px !important;
    padding: 15px 35px 0 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.headReturn{
	position: absolute;
    top: 7px;
    left: 7px;    
}
.content{
	padding: 0 10px 10px 10px;
}
.hideDiv{
	display: none;
}
.hideDiv *{
	display: none;
}