<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pioneeruniverse.dev.dao.mybatis.TblArtifactQualityDetailMapper">
  <resultMap id="BaseResultMap" type="cn.pioneeruniverse.dev.entity.TblArtifactQualityDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ARTIFACT_ID" jdbcType="BIGINT" property="artifactId" />
    <result column="QUALITY_METRIC_ID" jdbcType="BIGINT" property="qualityMetricId" />
    <result column="QUALITY_METRIC_VALUE" jdbcType="VARCHAR" property="qualityMetricValue" />
    <result column="QUALITY_METRIC_VALUE_DETAIL" jdbcType="VARCHAR" property="qualityMetricValueDetail" />
    <result column="QUALITY_METRIC_STATUS" jdbcType="TINYINT" property="qualityMetricStatus" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ARTIFACT_ID, QUALITY_METRIC_ID, QUALITY_METRIC_VALUE, QUALITY_METRIC_VALUE_DETAIL, 
    QUALITY_METRIC_STATUS, STATUS, CREATE_BY, CREATE_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE
  </sql>
  <!-- 根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_artifact_quality_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <!-- 物理删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_artifact_quality_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <!--新增-->
  <insert id="insert" parameterType="cn.pioneeruniverse.dev.entity.TblArtifactQualityDetail">
   	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">  
        SELECT LAST_INSERT_ID() AS ID  
    </selectKey> 
    insert into tbl_artifact_quality_detail (ARTIFACT_ID, QUALITY_METRIC_ID, 
      QUALITY_METRIC_VALUE, QUALITY_METRIC_VALUE_DETAIL, 
      QUALITY_METRIC_STATUS, STATUS, CREATE_BY, 
      CREATE_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE
      )
    values (#{artifactId,jdbcType=BIGINT}, #{qualityMetricId,jdbcType=BIGINT}, 
      #{qualityMetricValue,jdbcType=VARCHAR}, #{qualityMetricValueDetail,jdbcType=VARCHAR}, 
      #{qualityMetricStatus,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{createBy,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <!-- 判断新增操作 -->
  <insert id="insertSelective" parameterType="cn.pioneeruniverse.dev.entity.TblArtifactQualityDetail">
    insert into tbl_artifact_quality_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="artifactId != null">
        ARTIFACT_ID,
      </if>
      <if test="qualityMetricId != null">
        QUALITY_METRIC_ID,
      </if>
      <if test="qualityMetricValue != null">
        QUALITY_METRIC_VALUE,
      </if>
      <if test="qualityMetricValueDetail != null">
        QUALITY_METRIC_VALUE_DETAIL,
      </if>
      <if test="qualityMetricStatus != null">
        QUALITY_METRIC_STATUS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="artifactId != null">
        #{artifactId,jdbcType=BIGINT},
      </if>
      <if test="qualityMetricId != null">
        #{qualityMetricId,jdbcType=BIGINT},
      </if>
      <if test="qualityMetricValue != null">
        #{qualityMetricValue,jdbcType=VARCHAR},
      </if>
      <if test="qualityMetricValueDetail != null">
        #{qualityMetricValueDetail,jdbcType=VARCHAR},
      </if>
      <if test="qualityMetricStatus != null">
        #{qualityMetricStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <!-- 判断修改操作 -->
  <update id="updateByPrimaryKeySelective" parameterType="cn.pioneeruniverse.dev.entity.TblArtifactQualityDetail">
    update tbl_artifact_quality_detail
    <set>
      <if test="artifactId != null">
        ARTIFACT_ID = #{artifactId,jdbcType=BIGINT},
      </if>
      <if test="qualityMetricId != null">
        QUALITY_METRIC_ID = #{qualityMetricId,jdbcType=BIGINT},
      </if>
      <if test="qualityMetricValue != null">
        QUALITY_METRIC_VALUE = #{qualityMetricValue,jdbcType=VARCHAR},
      </if>
      <if test="qualityMetricValueDetail != null">
        QUALITY_METRIC_VALUE_DETAIL = #{qualityMetricValueDetail,jdbcType=VARCHAR},
      </if>
      <if test="qualityMetricStatus != null">
        QUALITY_METRIC_STATUS = #{qualityMetricStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <!--根据id修改-->
  <update id="updateByPrimaryKey" parameterType="cn.pioneeruniverse.dev.entity.TblArtifactQualityDetail">
    update tbl_artifact_quality_detail
    set ARTIFACT_ID = #{artifactId,jdbcType=BIGINT},
      QUALITY_METRIC_ID = #{qualityMetricId,jdbcType=BIGINT},
      QUALITY_METRIC_VALUE = #{qualityMetricValue,jdbcType=VARCHAR},
      QUALITY_METRIC_VALUE_DETAIL = #{qualityMetricValueDetail,jdbcType=VARCHAR},
      QUALITY_METRIC_STATUS = #{qualityMetricStatus,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=TINYINT},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>