<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pioneeruniverse.dev.dao.mybatis.TblDefectAttachementMapper">
  <resultMap id="BaseResultMap" type="cn.pioneeruniverse.dev.entity.TblDefectAttachement">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="DEFECT_ID" jdbcType="BIGINT" property="defectId" />
    <result column="FILE_NAME_NEW" jdbcType="VARCHAR" property="fileNameNew" />
    <result column="FILE_NAME_OLD" jdbcType="VARCHAR" property="fileNameOld" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="FILE_S3_BUCKET" jdbcType="VARCHAR" property="fileS3Bucket" />
    <result column="FILE_S3_KEY" jdbcType="VARCHAR" property="fileS3Key" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DEFECT_ID, FILE_NAME_OLD, FILE_TYPE, FILE_S3_BUCKET,
    FILE_S3_KEY, STATUS
  </sql>
  <!--根据id查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_defect_attachement
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <!-- 删除缺陷附件 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_defect_attachement
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
  <!-- 新增缺陷附件 -->
  <insert id="insert" parameterType="cn.pioneeruniverse.dev.entity.TblDefectAttachement">
    insert into tbl_defect_attachement (ID, DEFECT_ID, FILE_NAME_NEW, 
      FILE_NAME_OLD, FILE_TYPE, FILE_PATH, 
      FILE_S3_BUCKET, FILE_S3_KEY, STATUS, 
      CREATE_BY, CREATE_DATE, LAST_UPDATE_BY, 
      LAST_UPDATE_DATE)
    values (#{id,jdbcType=BIGINT}, #{defectId,jdbcType=BIGINT}, #{fileNameNew,jdbcType=VARCHAR}, 
      #{fileNameOld,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{fileS3Bucket,jdbcType=VARCHAR}, #{fileS3Key,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=BIGINT}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <!-- 插入缺陷附件 -->
  <insert id="insertDefectAttachement" parameterType="cn.pioneeruniverse.dev.entity.TblDefectAttachement" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_defect_attachement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="defectId != null">
        DEFECT_ID,
      </if>
      <if test="fileNameNew != null">
        FILE_NAME_NEW,
      </if>
      <if test="fileNameOld != null">
        FILE_NAME_OLD,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="filePath != null">
        FILE_PATH,
      </if>
      <if test="fileS3Bucket != null">
        FILE_S3_BUCKET,
      </if>
      <if test="fileS3Key != null">
        FILE_S3_KEY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="defectId != null">
        #{defectId,jdbcType=BIGINT},
      </if>
      <if test="fileNameNew != null">
        #{fileNameNew,jdbcType=VARCHAR},
      </if>
      <if test="fileNameOld != null">
        #{fileNameOld,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileS3Bucket != null">
        #{fileS3Bucket,jdbcType=VARCHAR},
      </if>
      <if test="fileS3Key != null">
        #{fileS3Key,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
<!-- 插入缺陷附件 -->
  <insert id="insertDefectDTOAttachement" parameterType="cn.pioneeruniverse.common.dto.TblAttachementInfoDTO" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_defect_attachement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="associatedId != null">
        DEFECT_ID,
      </if>
      <if test="fileNameOld != null">
        FILE_NAME_OLD,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="fileS3Bucket != null">
        FILE_S3_BUCKET,
      </if>
      <if test="fileS3Key != null">
        FILE_S3_KEY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="associatedId != null">
        #{associatedId,jdbcType=BIGINT},
      </if>
      <if test="fileNameOld != null">
        #{fileNameOld,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileS3Bucket != null">
        #{fileS3Bucket,jdbcType=VARCHAR},
      </if>
      <if test="fileS3Key != null">
        #{fileS3Key,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

<!-- 选择性更新字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="cn.pioneeruniverse.dev.entity.TblDefectAttachement">
    update tbl_defect_attachement
    <set>
      <if test="defectId != null">
        DEFECT_ID = #{defectId,jdbcType=BIGINT},
      </if>
      <if test="fileNameNew != null">
        FILE_NAME_NEW = #{fileNameNew,jdbcType=VARCHAR},
      </if>
      <if test="fileNameOld != null">
        FILE_NAME_OLD = #{fileNameOld,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileS3Bucket != null">
        FILE_S3_BUCKET = #{fileS3Bucket,jdbcType=VARCHAR},
      </if>
      <if test="fileS3Key != null">
        FILE_S3_KEY = #{fileS3Key,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <!--根据id更新缺陷-->
  <update id="updateByPrimaryKey" parameterType="cn.pioneeruniverse.dev.entity.TblDefectAttachement">
    update tbl_defect_attachement
    set DEFECT_ID = #{defectId,jdbcType=BIGINT},
      FILE_NAME_NEW = #{fileNameNew,jdbcType=VARCHAR},
      FILE_NAME_OLD = #{fileNameOld,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      FILE_S3_BUCKET = #{fileS3Bucket,jdbcType=VARCHAR},
      FILE_S3_KEY = #{fileS3Key,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <!--查询文件信息-->
  <select id="getDefectAttByUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_defect_attachement
    WHERE FILE_PATH = #{filePath,jdbcType=VARCHAR}
    AND STATUS = 1
  </select>

  <!--根据缺陷主键查询附件-->
  <select id="findAttListByDefectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_defect_attachement
    WHERE  DEFECT_ID = #{defectId,jdbcType=BIGINT}
    AND STATUS = 1
  </select>

  <!--逻辑删除附件-->
  <update id="removeAttachement" parameterType="cn.pioneeruniverse.dev.entity.TblDefectAttachement">
   update tbl_defect_attachement
      set
        STATUS = 2,
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
      where ID = #{id,jdbcType=BIGINT}
  </update>

<!-- 逻辑删除缺陷附件 -->
  <update id="removeAttachements" parameterType="java.lang.Long">
    UPDATE tbl_defect_attachement
    SET STATUS = 2
    <where>
      DEFECT_ID = #{defectId,jdbcType=BIGINT}
    </where>
  </update>

  <!--根据id获取缺陷附件-->
  <select id="getAttById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_defect_attachement
    WHERE ID = #{id,jdbcType=BIGINT}
  </select>
</mapper>